:root {
    --background-color: #009E95;
    --white-color: #F5F5F5;
    --grey-color: #7A7A7A;
    --light-grey-color: lightgrey;   
}

html {
    height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    background-color: tan;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    overflow: auto;
}

a {
    color: black;
    text-decoration: none;
}

.viewport-border {
    border: 2px solid black;
    border-radius: .5rem;
    min-height: 100vh;
    width: 100vw;
    /* background-size: cover; */
    box-sizing: border-box;
    /* position: fixed; */
    background-color: var(--background-color);
    z-index: 1;
}

header {
    z-index: 10;
}

.navbar {
    background-color: var(--white-color);
    height: 2rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid var(--grey-color);
    width: 100vw;

    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-right {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-link {
    padding: 0 2rem 0 2rem;
}

.window-wrapper {
    display: flex;
    flex-wrap: wrap;   
    height: 100%;
}

.window {
    background-color: var(--white-color);
    border-top: 2px solid var(--grey-color);
    border-left: 2px solid var(--grey-color);
    border-bottom: 3px solid black; 
    border-right: 3px solid black; 
    border-radius: 1%;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.window-header {
    border: 1px solid var(--grey-color);
    background-color: var(--white-color);
    border-bottom: 3px solid var(--grey-color);
    padding: 5px 0;
    text-align: center;
}

#about {
    margin: 5% 0 0 5%;

    width: 50%;
    height: 300px;
}

#window-image {
    margin: 7% 9% 0 5%;

    width: 25%;
    height: 270px;
}

#system-folder .window-header {
    background-color: var(--light-grey-color);

    border-top: 3px solid darkslategray;
    border-left: 3px solid darkslategray;
    border-bottom: 3px solid darkslategray;
    border-right: 4px solid black;
}

#system-folder {
    margin: 3% auto 3% auto;

    width: 70%;
    height: 40vh;
    

    position: relative;
    bottom: 10px;

    border: none;
}

#system-folder .window-body {
    height: 100%;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 3px solid darkslategray;
}

#system-folder .folder-info {
    list-style-type: none;
    padding: 0.25rem 1rem;
    margin: 0;
    border-right: 4px solid black;
    border-left: 3px solid darkslategray;
    border-bottom: 2px solid darkslategray;
    display: flex;
    justify-content: space-between;
}

#system-folder .double-line {
    border-bottom: 2px solid darkslategray;
    border-left: 3px solid darkslategray;
    border-right: 4px solid black;

    padding: 0.5px;
}

.folder-info li {
    width: 33%;
}

.window-title {
    text-align: center;
}

.window-body {
    padding: 0 3rem;
}