:root {
    --background-color: #009E95;
    --white-color: #F5F5F5;
    --grey-color: #7A7A7A;
    --light-grey-color: lightgrey;   
}

html {
    height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    background-color: tan;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    overflow: auto;
}

a {
    color: black;
    text-decoration: none;
}

.viewport-border {
    border: 2px solid black;
    border-radius: .5rem;
    min-height: 100vh;
    width: 100vw;
    /* background-size: cover; */
    box-sizing: border-box;
    /* position: fixed; */
    background-color: var(--background-color);
    z-index: 1;
}

header {
    z-index: 10;
}

.navbar {
    background-color: var(--white-color);
    height: 2rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 2px solid var(--grey-color);
    width: 100vw;

    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav-right {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-link {
    padding: 0 2rem 0 2rem;
}

.window-wrapper {
    display: flex;
    flex-wrap: wrap;   
    height: 100%;
}

.window {
    background-color: var(--white-color);
    border-top: 2px solid var(--grey-color);
    border-left: 2px solid var(--grey-color);
    border-bottom: 3px solid black; 
    border-right: 3px solid black; 
    border-radius: 1%;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.window-header {
    border: 1px solid var(--grey-color);
    background-color: var(--white-color);
    border-bottom: 3px solid var(--grey-color);
    padding: 5px 0;
    text-align: center;
}

#about {
    margin: 5% 0 0 5%;

    width: 50%;
    height: 32vh;
    max-height: 400px;
}

#window-image {
    margin: 6% 9% 0 5%;

    width: 25%;
    height: 29vh;
    max-width: 400px;
    max-height: 320px;
}

#window-image .window-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#window-image img {
    width: 80%;
    height: auto;
    min-width: 120px;
}

#system-folder .window-header {
    background-color: var(--light-grey-color);

    border-top: 3px solid darkslategray;
    border-left: 3px solid darkslategray;
    border-bottom: 3px solid darkslategray;
    border-right: 4px solid black;
}

#system-folder {
    margin: 3% auto 3% auto;

    width: 70%;
    height: 40vh;
    

    position: relative;
    bottom: 10px;

    border: none;
}

#system-folder .window-body {
    height: 100%;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 3px solid darkslategray;
}

#system-folder .folder-info {
    list-style-type: none;
    padding: 0.25rem 1rem;
    margin: 0;
    border-right: 4px solid black;
    border-left: 3px solid darkslategray;
    border-bottom: 2px solid darkslategray;
    display: flex;
    justify-content: space-between;
}

#system-folder .double-line {
    border-bottom: 2px solid darkslategray;
    border-left: 3px solid darkslategray;
    border-right: 4px solid black;

    padding: 0.5px;
}

.folder-info li {
    width: 33%;
}

.window-title {
    text-align: center;
}

.window-body {
    padding: 0 3rem;
    font-family: "Lora", serif;
    font-weight: 400;
}

.window-body h1 {
    font-weight: 700;
}

#logo-link img {
    height: 23px;
    width: auto;
    padding-top: 2px;
}

@media (max-width: 500px) {
    .window-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    #window-image {
        margin: 0;
        width: fit-content;
        max-width: 300px;
        height: fit-content;
    }

    #window-image .window-body {
        width: fit-content;
        height: fit-content;
    }


    #sytem-folder {
        margin: 0;
    }

    #about {
        margin: 50px 0 0 0 ;
        width: 80vw;
        height: fit-content;
    }
}

/* projects.hmtl */
#project-window {
    margin: 0 5% 0 5%;   

    min-height: 600px;
    height: 85vh;
    width: 85vw;

}

#project-window .window-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    height: 100%;
    overflow: auto;
}

#project-window img {
    width: 20vw;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    #project-window .window-body {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        grid-auto-flow: row;
    }

    .project {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .project-description{
        text-align: center;
        width: 15em;
    }
}